-- SQL to fix password hashes
-- This updates all teacher passwords to 'teacher123'
-- And all student passwords to 'student123'

-- Teacher password hash for 'teacher123':
UPDATE users SET password = '$2y$10$2UIC17OFFU.1TvH0mpZSuO5frlEw75yxsbLMbTO7adwvKQ1im2Im2' WHERE role = 'teacher';

-- Student password hash for 'student123':
UPDATE users SET password = '$2y$10$05pRoTwiVNAOqm151.EN2ekNz/FaL88r4cO0zb41K3tRj2XBiPol2' WHERE role = 'student';

-- Done! All passwords have been updated.
